<form id="contact-form">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <h2 class="card-header">
                    Обратная связь
                </h2>
                <div class="card-block">
                    <div class="form-group">
                        <label for="emailAddress" class="sr-only">Почта</label>
                        <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp"
                               placeholder="Введите email">
                        <small id="emailHelp" class="form-text text-muted">Мы никому не расскажем о том, что вы были тут
                            :-)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="name" class="sr-only">Имя</label>
                        <input type="text" class="form-control" id="name" aria-describedby="textHelp"
                               placeholder="Введите Ваше Имя">
                        <small id="textHelp" class="form-text text-muted">Подскажите как лучше к Вам обращаться</small>
                    </div>
                    <div class="form-group">
                        <label for="name" class="sr-only">Телефон</label>
                        <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp"
                               placeholder="+38 067 777 77 77">
                        <small id="phoneHelp" class="form-text text-muted">Мы перезвоним Вам сразу же как только увидим
                            Ваш
                            заказ
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="sr-only">Комментарий</label>
                        <textarea class="form-control" id="comment"
                                  placeholder="Опишите ваши пожелания, предпочтения или задайте вопрос."
                                  rows="5"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
                </div>
                <div class="card-footer text-muted">
                    Спасибо!
                </div>
            </div>
        </div>
    </div>
</form>