<footer class="py-5 bg-inverse">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{ site.title | escape }} 2017</p>
    </div>
    <!-- /.container -->
</footer>
<!--<footer class="footer">-->
    <!--<div class="container">-->
        <!--<span class="text-muted pull-left">&copy; {{ site.title | escape }}.</span>-->
        <!--<span class="text-muted pull-right">{% if site.author %} Created by: {{ site.author | escape }}. {% endif %}-->
            <!--{% if site.email %}<a href="mailto:{{ site.email }}">{{ site.email }} {% endif %}</a></span>-->
    <!--</div>-->
<!--</footer>-->