<script type="text/javascript" src="/assets/vendor/jquery/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/vendor/tether/js/tether.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/vendor/imager/js/Imager.min.js" charset="utf-8"></script>
<script>
        $(document).ready(function(){
            new Imager(
                '.responsive-image__delayed',
                {
                    availableWidths: [{{ site.responsive_image.sizes | map: 'width' | join: ', ' }}],
            onImagesReplaced: function() {
                $('.responsive-image__placeholder').hide();
            }
        });
    })
</script>
<script type="text/javascript" src="/assets/app/vendor.bundle.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/app/bundle.js" charset="utf-8"></script>